{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" autocomplete="on" autofocus name="stock">
                    <option>--Select--</option>
                {% for i in range(count) %}
                    <option name="{{info[i]['id']}}" value="{{info[i]['id']}}">{{info[i]["symbol"]}}</option>
                {% endfor %}
            </select>
            <input class="form-control" autocomplete="off" placeholder="How many" name="quantity">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Sell</button>
        </div>
    </form>
{% endblock %}